# Compiled class files
*.class

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
build.log

# OS files
.DS_Store
Thumbs.db

# Node / Angular
node_modules/
dist/
.angular/
coverage/

# Docker volumes
mysql_data/
grafana_data/
es_data/